:root {
    font-size: 10px;
}

body{
    background-image: url(Image/background.png);

}

.container{
    width: 1322px;
    margin: 63px 59px;
}

.profile-section {
  height: 300px;
  display: grid;
  grid-template-columns: 300.1px 994.69px;
  border-radius: 29px;
  gap:27px;

}

.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.bio {
  background-color: #FFFFFF;
  border-radius: 29px;
  padding: 59.74px 69.34px;
  font-size: 22px;
  color: #696868;
}

.profeciency-skills{
    display: flex;
    font-size: 24.2px;
    gap: 48.1px;
    margin-top: 48px;
}

.proficiency-section{
    background-color: #FFFFFF;
    width: 515.1px;
    height:326.74px;
    border-radius: 29px;
    padding: 51.14px 27.4px;
}

.proficiancy-levels {
    font-size: 24.2px;
    font-weight: 500;
    margin: 30px 0;
}


.skill-name-1{
    margin-top: 0;
}

.skill-name-2, .skill-name-3, .skill-name-4{
    margin-bottom: 0;
    margin-top: 2.34rem;
}

.skills-bar-level{
    display: grid;
    grid-template-columns: 141px 321.88px;
    column-gap: 46.21px;
    margin-top: 30px;
}

.tailwind-level {
    background-color: rgba(74, 139, 112, 1);
    width: 232px;
    height: 26px;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.css-level {
    background-color: rgba(74, 139, 112, 1);
    width: 280px;
    height: 2.6rem;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.html-level {
    background-color: rgba(74, 139, 112, 1);
    width: 30.0rem;
    height: 2.6rem;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.git-github-level{
    background-color: rgba(74, 139, 112, 1);
    width: 18.0rem;
    height: 2.6rem;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.skills {
    background-color: #FFFFFF;
    width: 650px;
    height:373px;
    border-radius: 29px;
    padding: 28px 28px 31.47px 28px;
}