:root {
    font-size: 10px;
}

body{
    background-image: url(Image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    

}

.container{
    width: 1322px;
    margin: 63px 59px;
}

.profile-section{
  height: 100%;
  display: grid;
  grid-template-columns: 300.1px 994.69px;
  border-radius: 29px;
  gap:27px;
  padding-bottom: 28px;

}

.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 28px;
}

.bio {
  background-color: #FFFFFF;
  border-radius: 29px;
  padding: 59.74px 69.34px;
  font-size: 22px;
  color: #696868;
}

.proficiency-skills{
    display: flex;
    font-size: 24.2px;
    gap: 48.1px;
    margin-top: 48px;
}

.proficiency-section{
    background-color: #FFFFFF;
    width: 515.1px;
    height:326.74px;
    border-radius: 29px;
    padding: 51.14px 27.4px;
}

.proficiency-leves {
    font-size: 24.2px;
    font-weight: 500;
    margin: 30px 0;
}


.skill-name-1{
    margin-top: 0;
}

.skill-name-2, .skill-name-3, .skill-name-4{
    margin-bottom: 0;
    margin-top: 2.34rem;
}

.skill-name-bar-level{
    display: grid;
    grid-template-columns: 141px 321.88px;
    column-gap: 46.21px;
    margin-top: 30px;
}

.tailwind-level {
    background-color: rgba(74, 139, 112, 1);
    width: 232px;
    height: 26px;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.css-level {
    background-color: rgba(74, 139, 112, 1);
    width: 280px;
    height: 2.6rem;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.html-level {
    background-color: rgba(74, 139, 112, 1);
    width: 30.0rem;
    height: 2.6rem;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.git-github-level{
    background-color: rgba(74, 139, 112, 1);
    width: 18.0rem;
    height: 2.6rem;
    border-radius: 7.26px;
    margin-top: 2.42rem;
}

.Skills-section {
    background-color: #FFFFFF;
    width: 650px;
    height:373px;
    border-radius: 29px;
    padding: 28px 28px 31.47px 28px;
}

.skills {
    display: flex;
    flex-wrap:wrap ;
    width: 67.281rem;
    margin-top: 3.9rem;
}

.skill-1{
    background-color: rgba(74, 139, 112, 0.13) ;
    padding: .968rem 2.42rem;
    margin: 0 0 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 3.081rem;
    
}

.skill-2{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    font-size: 24.2px;
    line-height: 3.6rem;
    margin: 0 1.939rem 1.939rem 1.939rem;;
    border-radius: 9.681rem;
}

.skill-3{
    background-color:rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 9.681rem;
}

.skill-4{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 9.681rem;
}

.skill-5{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 9.681rem;
}

.skill-6{
    background-color: rgba(74, 139, 112, 0.13);
    padding: 9.68px 24.2px;
    margin: 0 19.39px 19.39px 0;
    font-size: 24.2px;
    line-height: 36px;
    border-radius: 96.81px;
}

.skill-7{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 9.681rem;
}

.skill-8{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 9.681rem;
}

.skill-9{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: 3.6rem;
    border-radius: 9.681rem;
}

.skill-10{
    background-color: rgba(74, 139, 112, 0.13);
    padding: .968rem 2.42rem;
    margin: 0 1.939rem 1.939rem 0;
    font-size: 24.2px;
    line-height: .36rem;
    border-radius: .9681rem;
}

.project-section {
    width: 126.08rem;    
    height: 66.909rem;
    background-color: #FFFFFF;
    margin-top: 4.833rem;
    border-radius: 2.9rem;
    text-align: center;
    padding: 4.3rem 2.9rem 4.3rem 2.9rem;
}

.Projects{
    display: grid;
    grid-template-columns: 28rem 28rem 27.2rem 27.2rem;
    column-gap: 4.9rem;
    margin-top: 3.5rem;
    margin-bottom: 0;
    
}

.project-card-green{
    background-color: #4A8B70;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 53.9rem;
    font-size: 19.36px;
    border-radius: 2.9rem;
    padding: 2.1rem 1.9rem;
}
.project-card-grey {
    background-color: #E7F0EC;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 19.36px;
    height: 53.9rem;
    border-radius: 2.9rem;
    padding: 2.1rem 1.9rem;
}

.emoji {
  margin-left: 15rem;
}

h3 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}
.year, .brief, .responsibilities, p, h3 {
    margin: 0;
}

.project-type, .technologies {
    margin: .24rem 0;
}

.Education-tools {   
    display: flex;
    gap: 2.1rem;
    margin-top: 4.82rem;

}


.Education {
    display: flex;
    flex-direction: column;
    width: 93.669rem;
    height: 78.906rem;
    border-radius: 2.9rem;
    background-color: #FFFFFF;
    padding: 2.9rem ;
}

.education-bg-1 {
    background-color: #4A8B70;
    color: rgba(255, 255, 255, 1);
    height: 18.602rem;
}

.education-bg-2, .education-bg-3{
    background-color: #E7F0EC;
    height: 16.461rem;
}

ul {
    margin: 0;
}

.education-bg-1, .education-bg-2, .education-bg-3 {
    display: grid;
    grid-template-columns: 26.7rem 57.84rem;
    column-gap: 3rem;
    width: 89.461rem;
    font-size: 1.936em;
    line-height: 2.9rem;
    padding: 2.7rem 2.1rem 2.7rem 2.1rem;
    margin-top: 2rem;
    border-radius: 2.9rem;

}

.institutions-name {
    padding: 2 0;
}

.dates {
    font-weight: 500;
}

.tools-section {
    width: 30.01em;
    border-radius: 2.9em;
    background-color: #FFFFFF;
    text-align: center;
}
.tools-section{
    display: flex;
    flex-direction: column;
    
}

.technologies h2 {
    margin-top: 3.2rem;
}

.languages {
    background-color: #E7F0EC;
    width: 18.39rem;
    border-radius: 1.452rem;
    margin: 3.604rem auto 2.904rem auto;
    text-align: center;
}

.language p {
    background-color: rgba(0, 0, 0, 1);
    font-size: 12.1px;
    font-weight: 500;
    color: rgba(218, 216, 216, 1);
    padding: .484rem .152rem;
    border-radius: 14.279rem;
    margin: -1.2rem 4.3rem 2.414rem 4.6rem;
}

.language {
    display: grid;
    grid-template-columns: 4.11rem 4.11rem;
    justify-content: center;
    column-gap: 3.872rem;
    row-gap: 3.872rem;
}

.design {
    background-color: #E7F0EC;
    width: 18.39em;
    height: 15.2em;
    border-radius: 1.452em;
    margin: 0 auto 2.904em auto;
}

.design p {
    background-color: rgba(0, 0, 0, 1);
    font-size: 12.1px;
    font-weight: 500;
    color: rgba(218, 216, 216, 1);
    padding: .484rem .152rem;
    border-radius: 14.279rem;
    margin: -1.2rem 5.729rem 1.642rem 5.566rem;
}

.designs {
    display: grid;
    grid-template-columns: 4.11rem 4.11rem;
    justify-content: center;
    column-gap: 3.686rem;
    row-gap: 2.1rem;
}

.tools {
    background-color: #E7F0EC;
    height: 19.845em;
    border-radius: 1.452em;
    margin: 0 auto;
}

.tool {
    display: grid;
    grid-template-columns: 4.11rem 4.11rem;
    justify-content: center;
    column-gap: 3.872rem;
    row-gap: 3.872rem;
}

.Experience {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 126.2rem;
    row-gap: 3rem;
    border-radius: 1.452rem;
    margin-top: 6rem;
    padding: 3.1rem 2.7rem 3.2rem 2.7rem;
    
}

.most-recent {
    background-color: rgba(215, 98, 57, 1);
    color: rgba(255, 255, 255, 1);
    width: 9rem;
    height:2.3rem;
    font-size: 0.75em;
    line-height: 2.3rem;
    padding: .484rem 1.67rem;
    border-radius: 14.279rem;
}

.experience-2, .experience-3 {
    background-color: #E7F0EC;
    display: grid;
    grid-template-columns: 29.5rem 79.3rem;
    column-gap: 3rem;
    line-height: 2.9rem;
    font-size: 19.36px;
    border-radius: 1.452rem;
    padding: 1.9rem 2.5rem;

}

.experience-1 {
    background-color: #4A8B70;
    color: rgba(255, 255, 255, 1);
    display: grid;
    grid-template-columns: 25.3rem 76.3rem 12.343rem;
    justify-content: space-between;
    line-height: 2.9rem;
    font-size: 1.936em;
    border-radius: 1.452rem;
    padding: 1.9rem 2.5rem;
}

.footer_container {
    background-color: #D76239;
    width: 126.392rem;
    height: 9.992rem;
    border-radius: 2.904rem;
    padding: 2.904rem;
    margin-top: 4.8rem;
}

.footer_container h2 {
    color: #FFFFFF;
    margin-bottom: 1.3rem;
}

.contacts {
    color: #DDDDDD;
    font-size: 2.42em;
    display: inline-flex;
}
a {
    text-decoration: none;
    color: #DDDDDD;
}

.divider {
    margin: 0 1.936rem;
}
